<h1>Enjoy your Cocktails:</h1>

<ul>
  <% @cocktails.each do |cocktail| %>
    <li><%= link_to cocktail.name, "Cocktails/#{cocktail.id}"%>
    </li>
  <% end %>
</ul>
<%= link_to "Design a new cocktail", new_cocktail_path %>
