<form action="cocktails" method="post">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <label for="name">Name</label>
  <input type="text" name="name">

  <label for="ingredient">Ingredient</label>
  <input type="text" name=cocktail[ingredient]>

  <label for="description">Description</label>
  <input type="text" name=cocktail[description]>
</form>
